<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551854441061-qv4ahovvlmaefi27mijj2bqcpg8caq8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551854441061-qv4ahovvlmaefi27mijj2bqcpg8caq8o</string>
	<key>API_KEY</key>
	<string>AIzaSyAa8fcAo3_wps5Qp_EIni5eHn02T-blSkU</string>
	<key>GCM_SENDER_ID</key>
	<string>551854441061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpi3</string>
	<key>PROJECT_ID</key>
	<string>cpicpi</string>
	<key>STORAGE_BUCKET</key>
	<string>cpicpi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551854441061:ios:1f6a1b7756eff67d5efc8c</string>
</dict>
</plist>